@import "variables";
@import "grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, serif;
}

a {
  color: #1a1a1d;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: url("~@/assets/images/background.png") no-repeat center;
  background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}