@import "variables";
@import "grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

