//container
$xxl: 1400px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xsm: 360px;

//colors
//accounts
$revenue-clr: lightblue;
$revenue-progress-clr: aquamarine;
$revenue-value-clr: lightblue;
$asset-clr: yellow;
$asset-progress-clr: lightgreen;
$asset-value-clr: yellow;
$expense-clr: orange;
$expense-progress-clr: darkorange;
$expense-value-clr: orange;
$add-account-btn-clr: darkgray;
$account-dialog-exit: red;
$account-dialog-selected: gray;

$hover-border: blue;
$hover-shadow: rgba(0, 0, 255, 0.4);