//container
$xxl: 1400px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xsm: 360px;

//colors
//accounts
$account-text-clr: #1a1a1d;
$revenue-clr: #01d3fc;
$revenue-progress-clr: #bfe2fe;
$revenue-value-clr: #01d3fc;
$asset-clr: #ffff1cff;
$asset-progress-clr: #fcf3b5;
$asset-value-clr: #ffff1cff;
$expense-clr: #fdac07;
$expense-progress-clr: #f9de59;
$expense-value-clr: #fdac07;
$add-account-btn-clr: #c7c7c5;
$account-dialog-exit: red;
$account-dialog-selected: gray;