//container
$xxl: 1400px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xsm: 360px;

//colors
$account-revenue-clr: lightblue;
$account-revenue-progress-clr: aquamarine;
$account-revenue-value-clr: lightblue;
$account-asset-clr: yellow;
$account-asset-progress-clr: yellow;
$account-asset-value-clr: darkorange;
$account-expense-clr: orange;
$account-expense-progress-clr: orange;
$account-expense-value-clr: orange;